page-login {
    .centered {
        width: 178.72px; // Need exact dimensions of the element being centered
        height: 56px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -86.36px;
        margin-top: -28px;
     }
}