<ion-header>
  <ion-navbar>
    <ion-title>
      Top Artists
    </ion-title>
        <ion-select [(ngModel)]="time_span" interface="popover" (ionChange)="getTopArtists()">
          <ion-option value="short_term">Past Month</ion-option>
          <ion-option value="medium_term">Past 6 Months</ion-option>
          <ion-option value="long_term">Past Year</ion-option>
        </ion-select>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!-- <button (click)='getTopArtists()'>Get Top Artists!</button> -->

  <ion-list *ngIf="artists">
    <button ion-item *ngFor="let artist of artists; let i = index">
      <ion-thumbnail item-start>
        <img class="thumbnail" src={{artist.images[0].url}}>
      </ion-thumbnail>
      <h2 class="artist">{{artist.name}}</h2>
      <h2 class="ranking">#{{i + 1}}</h2>
    </button>  
  </ion-list>
</ion-content>
