<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only (click)="close()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>  
    </ion-buttons>
    <ion-title>{{item.name}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div text-center>
      <img height="180" width="180" src="{{item.images[1].url}}"><br>
      <span id="followers">
        {{item.followers.total | number:0}} FOLLOWERS
      </span>
  </div>
    <ion-grid text-wrap>
      <ion-row>
        <ion-col col-3>
          Popularity:
        </ion-col>
        <ion-col>
          {{item.popularity}}/100
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-3>
          Genres:
        </ion-col>
        <ion-col class="genre">
          <span *ngFor="let genre of item.genres; let isLast=last">
            {{genre}}{{isLast ? '': ', '}}
          </span>
        </ion-col>
      </ion-row>
    </ion-grid>
    
    <div *ngIf="albums?.length > 0" class="title">
      <img class="spotify-icon" height="21" width="21" src="assets/imgs/Spotify_Icon_RGB_Green.png">
      Albums
    </div>
    <ion-scroll *ngIf="albums?.length > 0" scrollX="true" direction="x">
      <ion-card color="dark" *ngFor="let album of albums" no-shadow>
        <!-- <img src={{album.images[0].url}}><br> -->
        <img-loader src="{{album.images[0].url}}" useImg></img-loader><br>
        {{album.name}}
      </ion-card>
    </ion-scroll>

    <div *ngIf="singles?.length > 0" class="title">
      <img class="spotify-icon" height="21" width="21" src="assets/imgs/Spotify_Icon_RGB_Green.png">
      Singles and EPs
    </div>
    <ion-scroll *ngIf="singles?.length > 0" scrollX="true" direction="x">  
      <ion-card color="dark" *ngFor="let single of singles" no-shadow>
        <!-- <img src={{single.images[0].url}}><br> -->
        <img-loader src="{{single.images[0].url}}" useImg></img-loader><br>
        {{single.name}}
      </ion-card>
    </ion-scroll>

    <div *ngIf="appearsOn?.length > 0" class="title">
      <img class="spotify-icon" height="21" width="21" src="assets/imgs/Spotify_Icon_RGB_Green.png">
      Appears On
    </div>
    <ion-scroll *ngIf="appearsOn?.length > 0" scrollX="true" direction="x">  
      <ion-card color="dark" *ngFor="let album of appearsOn" no-shadow>
        <!-- <img src={{single.images[0].url}}><br> -->
        <img-loader src="{{album.images[0].url}}" useImg></img-loader><br>
        {{album.name}}
      </ion-card>
    </ion-scroll>

    <div *ngIf="compilations?.length > 0" class="title">
      <img class="spotify-icon" height="21" width="21" src="assets/imgs/Spotify_Icon_RGB_Green.png">
      Appears On
    </div>
    <ion-scroll *ngIf="compilations?.length > 0" scrollX="true" direction="x">  
      <ion-card color="dark" *ngFor="let album of compilations" no-shadow>
        <!-- <img src={{single.images[0].url}}><br> -->
        <img-loader src="{{album.images[0].url}}" useImg></img-loader><br>
        {{album.name}}
      </ion-card>
    </ion-scroll>
</ion-content>

<ion-footer padding text-center>
  <button ion-button round color="primary" (click)="goTo()">Open in Spotify</button>
</ion-footer>