<ion-header>
  <ion-toolbar padding-top>
    <ion-title>
      Top Genres
    </ion-title>
    <!-- <ion-item no-lines>
      <ion-label id="time-select" padding-left><ion-icon name="arrow-dropdown"></ion-icon></ion-label>
      <ion-select [(ngModel)]="time_span" interface="action-sheet" (ionChange)="showLoading()">
        <ion-option value="short_term">Past Month</ion-option>
        <ion-option value="medium_term">Past 6 Months</ion-option>
        <ion-option value="long_term">All Time</ion-option>
      </ion-select>
    </ion-item> -->
    <ion-buttons end padding-top padding-right>
      <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list color="dark" no-lines *ngIf="topGenres">
    <ion-item *ngFor="let genreMapping of topGenres; let i = index">
      <h2 class="genre">{{genreMapping["0"]}}</h2>
      <div class="ranking">#{{i + 1}}</div>
      <br><br>
      <p class="sublabel">{{genreMapping["1"]}} of 50 Tracks</p>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer padding-bottom text-center no-border>
  <div (click)="timeSelect()">
    <ion-icon id="time-icon" name="arrow-dropdown"></ion-icon>
    <div id="time-select">{{time_span}}</div>
  </div>
</ion-footer>