// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.item-md {
    color: color($colors, light);
}
.black {
    background-color: color($colors, dark);
}
.text {
    color: color($colors, light);
}
.ranking {
    float: right;
}
.artist .track {
    float: left;
}
#time-select {
    color: color($colors, primary);
    font-weight: bold;
}
#time-icon {
    color: color($colors, light);
    transform: rotate(180deg);
}

.time-action-sheet {
    .action-sheet-title {
        color: color($colors, primary);
        font-weight: bold;
    }
    .action-sheet-button {
        color: color($colors, light);
    }
    .action-sheet-group {
        background-color: color($colors, dark);
    }
}

.track-alert {
    .alert-wrapper {
        background-color: color($colors, dark);
    }
    .alert-sub-title {
        color: darken(color($colors, light), 40%);
    }
    color: color($colors, light);
}