page-tracks {
    .sublabel {
        color: darken(color($colors, light), 40%);
    }
    #time-select {
        flex: none!important;
        -webkit-flex: none!important;
    }
    .track-alert {
        background-color: color($colors, dark);
        color: color($colors, light);
    }
}