page-tracks {
    .ranking {
        float: right;
    }
    .track {
        float: left;
    }
    .thumbnail {
        border: 1px solid black;
    }
    .sublabel {
        color: darken(color($colors, light), 40%);
    }
}
