<ion-header>
    <ion-navbar>
      <ion-title>
        Top Tracks
      </ion-title>
          <ion-select [(ngModel)]="time_span" interface="popover" (ionChange)="getTopTracks()">
            <ion-option value="short_term">Past Month</ion-option>
            <ion-option value="medium_term">Past 6 Months</ion-option>
            <ion-option value="long_term">Past Year</ion-option>
          </ion-select>
    </ion-navbar>
  </ion-header>


<ion-content padding>
  <!-- <button (click)='getTopTracks()'>Get Top Tracks!</button> -->

  <ion-list *ngIf="tracks">
      <button ion-item *ngFor="let track of tracks; let i = index">
        <ion-thumbnail item-start>
          <img class="thumbnail" src={{track.album.images[0].url}}>
        </ion-thumbnail>
        <p>{{track.artists[0].name}}</p>
        <h2 class="track">{{track.name}}</h2>
        <div class="ranking">#{{i + 1}}</div>
        <br><br>
        <p>{{track.album.name}}</p>
      </button>  
    </ion-list>
</ion-content>
